@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

body{
    background-image: url(img/bgc.png);
    background-size: cover;
    background-color: rgba(61, 50, 79, 0.75);
    font-family: 'Comfortaa', sans-serif;
    overflow: hidden;

}

a{
    text-decoration: none;
    color:white;
}
header{
    display: flex;
}
header{
    margin-left: 500px;
    margin-top: 30px;

}
.txt{
    margin-top: 10px;
    
}
.txt a{
    padding: 40px;
}
.logo1{
    position: absolute;
    top: 10px;
    left: 190px;
}
.logo2{
    position: absolute;
    top: 20px;
    left: 380px;;
}
.cont-v{
    margin-left: 50px;
}
.vk{
    position: absolute;
    top:38px;
    width: 32px;
    height: 21px;
}
.telega{
    position:absolute;
    left:1350px ;
    width: 32px;
    height: 33px;
}
.knopka{
    position: absolute;
    left: 1490px;
    width: 171px;
    height: 42px;
    padding: 12px, 20px, 12px, 20px;
    border-radius: 8px;
    gap: 10px;
}
.first{
    width: Hug (511px);
    height: Hug (337px);
    top: 209px;
    left: 312px;
    gap: 40px;
}
.btnm{
    width: Hug (278px);
    height: Hug (57px);
    padding: 16px, 24px, 16px, 24px;
    border-radius: 12px;
    gap: 10px;
}
.first img{
    margin-top: 200px;
    margin-left: 312px;
}
.first h1{
    margin-top: 30px;
    margin-left: 312px;
    color: white;
}
.first h2{
    margin-top: 10px;
    margin-left: 319px;
    color: white;
}
.btnm{
    margin-top: 30px;
    margin-left: 312px;
    width: 278px;
    height: 57px;
    background-color: rgb(54, 44, 82);
    color: white;
}
.pred{
    margin-top: 130px;
    margin-left: 312px;
    font-size: 24px;
    color: white;

}
.container button{
    background: #3D324F;
    width:  120px;
    height:  42px;
    padding: 12px, 20px, 12px, 20px;
    border-radius: 8px;
    gap: 10px;
    color:white;

}
.main{
    margin-left: 0px;
    margin-top: 300px;
    color: white;
    display:flex;
    

}
.container:first-child{
    position: relative;
    left: -130px;
    opacity: 35%; 
    margin-left: 20px;
    width: 416px;
    height: 447px;
    border-radius: 16px;
    filter: blur(0px);
    padding: 32px;
    background-color: rgba(255, 255, 255, 0.35);
}
.container:last-child{
    position: relative;
    right:-130px;
    opacity: 35%;
    margin-left: 20px;
    width: 416px;
    height: 447px;
    border-radius: 16px;
    filter: blur(0px);
    padding: 32px;
    background-color: rgba(255, 255, 255, 0.35);

}
.container:nth-child(2){
    margin-left: 20px;
    width: 416px;
    height: 447px;
    border-radius: 16px;
    filter: blur(0px);
    padding: 32px;
    position: relative;
    right: 50px;
    background-color: rgba(255, 255, 255, 0.35);
}
.container:nth-child(3){
    margin-left: 20px;
    width: 416px;
    height: 447px;
    border-radius: 16px;
    filter: blur(0px);
    padding: 32px;
    position: relative;
    background-color: rgba(255, 255, 255, 0.35);
}
.container:nth-child(4){
    margin-left: 20px;
    width: 416px;
    height: 447px;
    border-radius: 16px;
    filter: blur(0px);
    padding: 32px;
    position: relative;
    left:50px;
    background-color: rgba(255, 255, 255, 0.35);
}
.container p{
    color:white;
font-size: 15px;
font-weight: 400;
line-height: 21px;
letter-spacing: 0em;
}
.container img{
    
    width: 100%;
    height:30%;
}
.PP{
    color:white;
font-size: 24px;
font-weight: 500;
line-height: 34px;
letter-spacing: 0em;
text-align: left;

}
.cost{
    text-align: center;
    color:white;
    width: 129px;
    height: 37px;
    padding: 8px, 12px, 8px, 12px;
    border-radius: 8px;
    background-color:#3D324F;
}
